<h1>Add New Product</h1>

<div>{{#if error}}</div>
{{error.errorMessage}}
{{/if}}<br>

<form method="POST" action="/products">
    Item:<br>
    <input type="text" name="name" id="name"><br>
    Price:<br>
    <input type="text" name="price" id="price" placeholder="$0"><br>
    Inventory:<br>
    <input type="text" name="inventory" id="inventory" placeholder="0"><br>
    <button type="submit">Submit</button>
    <br><br>
    <a href="/products/">Return to Products Page</a>
</form>