<h1>Create New Product Here</h1>
{{!-- <div>{{message}}</div> --}}
{{!-- <div>{{#if error}}</div>
{{error.errorMessage}}
{{/if}} --}}
<form method="POST" action="/products">
    Item:<br>
    <input type="text" name="name" id="name"><br>
    Price:<br>
    <input type="text" name="price" id="price" placeholder="$0"><br>
    Inventory:<br>
    <input type="text" name="inventory" id="inventory" placeholder="0"><br>
    <button type="submit">Submit</button>
</form>